In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [3]:
import pyspark

In [54]:
import pandas as pd

df = pd.read_csv('test1.csv')

In [55]:
df.head()

   Id     Name  Age
0   1     John   23
1   2  Manjula   22
2   3   Kannan   21
3   4     Bala   26

In [64]:
df['phone'] = [7654321, 12345, 435664, 24353454]

In [59]:
df.dtypes

Id        int64
Name     object
Age       int64
phone     int64
dtype: object

In [65]:
df.drop('phone', axis=1, inplace=True)
df

   Id     Name  Age
0   1     John   23
1   2  Manjula   22
2   3   Kannan   21
3   4     Bala   26

In [72]:
df.loc[0]

Id         1
Name    John
Age       23
Name: 0, dtype: object

In [70]:
df.iloc[1]

Id            2
Name    Manjula
Age          22
Name: 1, dtype: object

In [78]:
df.loc[0:,['Name','']]

0       John
1    Manjula
2     Kannan
3       Bala
Name: Name, dtype: object

In [104]:
df.filter(items=['Name','Age'])
df.filter(like='me')
df.filter(regex='[mege]')

      Name  Age
0     John   23
1  Manjula   22
2   Kannan   21
3     Bala   26

# pySpark

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
spark

In [9]:
df_pyspark = spark.read.csv('test1.csv')
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [10]:
df_pyspark.show()

+---+-------+---+
|_c0|    _c1|_c2|
+---+-------+---+
| Id|   Name|Age|
|  1|   John| 23|
|  2|Manjula| 22|
|  3| Kannan| 21|
|  4|   Bala| 26|
+---+-------+---+

In [12]:
df_pyspark = spark.read.option('header','true').csv('test1.csv')

In [15]:
df_pyspark
type(df_pyspark) #type
df_pyspark.printSchema() #equelant to pandas info

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

* pyspark Dataframe
* reading the dataframe
* checking the datatypes of the column
* selecting column and indexing
* check describe similar to pandas
* adding columns
* dropping columns
* rename column

In [46]:
#read the dataset
df_pyspark = spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [22]:
#check the schema
df_pyspark.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [23]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [27]:
df_pyspark.columns

['Id', 'Name', 'Age']

In [28]:
df_pyspark.head(3)

[Row(Id=1, Name='John', Age=23),
 Row(Id=2, Name='Manjula', Age=22),
 Row(Id=3, Name='Kannan', Age=21)]

In [30]:
df_pyspark.show()

+---+-------+---+
| Id|   Name|Age|
+---+-------+---+
|  1|   John| 23|
|  2|Manjula| 22|
|  3| Kannan| 21|
|  4|   Bala| 26|
+---+-------+---+

In [31]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [36]:
#type(df_pyspark.select('Name'))
df_pyspark.select('Name').show()

+-------+
|   Name|
+-------+
|   John|
|Manjula|
| Kannan|
|   Bala|
+-------+

In [33]:
df_pyspark.select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|   John| 23|
|Manjula| 22|
| Kannan| 21|
|   Bala| 26|
+-------+---+

In [37]:
df_pyspark.dtypes

[('Id', 'int'), ('Name', 'string'), ('Age', 'int')]

In [38]:
df_pyspark.describe().show()

+-------+------------------+-------+-----------------+
|summary|                Id|   Name|              Age|
+-------+------------------+-------+-----------------+
|  count|                 4|      4|                4|
|   mean|               2.5|   NULL|             23.0|
| stddev|1.2909944487358056|   NULL|2.160246899469287|
|    min|                 1|   Bala|               21|
|    max|                 4|Manjula|               26|
+-------+------------------+-------+-----------------+

In [47]:
df_pyspark = df_pyspark.withColumn('Age after 2 year',df_pyspark['Age']+2)

In [48]:
df_pyspark.show()

+---+-------+---+----------------+
| Id|   Name|Age|Age after 2 year|
+---+-------+---+----------------+
|  1|   John| 23|              25|
|  2|Manjula| 22|              24|
|  3| Kannan| 21|              23|
|  4|   Bala| 26|              28|
+---+-------+---+----------------+

In [49]:
#drop the column
df_pyspark = df_pyspark.drop('Age after 2 year')

In [50]:
df_pyspark.show()

+---+-------+---+
| Id|   Name|Age|
+---+-------+---+
|  1|   John| 23|
|  2|Manjula| 22|
|  3| Kannan| 21|
|  4|   Bala| 26|
+---+-------+---+

In [52]:
##rename the column
df_pyspark.withColumnRenamed('Name','New Name').show()

+---+--------+---+
| Id|New Name|Age|
+---+--------+---+
|  1|    John| 23|
|  2| Manjula| 22|
|  3|  Kannan| 21|
|  4|    Bala| 26|
+---+--------+---+



pyspark Dataframe operations
* Dropping COlumns
* Dropping Rows
* Various Parameter in Droping Functionalities
* Handling missing values by mean, median and mode

In [82]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()
df_pyspark2 = spark.read.csv('test2.csv',header=True,inferSchema=True)

In [83]:
df_pyspark2.show()

+----------+----+----------+------+
|      Name| Age|Experience|Salary|
+----------+----+----------+------+
|     Krish|  31|        10| 30000|
|Sudharshan|  30|         9| 28000|
|     Sunny|  27|         8| 27000|
|      Paul|  29|         9| 25000|
|    Harsha|  28|         6| 20000|
|   Shubham|  25|         4| 17000|
|    Mahesh|NULL|      NULL| 15000|
|      NULL|  34|        11| 40000|
|      NULL|  32|      NULL|  NULL|
+----------+----+----------+------+

In [84]:
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         9| 28000|
|  27|         8| 27000|
|  29|         9| 25000|
|  28|         6| 20000|
|  25|         4| 17000|
|NULL|      NULL| 15000|
|  34|        11| 40000|
|  32|      NULL|  NULL|
+----+----------+------+

In [86]:
#drop null values rows
df_pyspark.na.drop().show()

+----------+---+----------+------+
|      Name|Age|Experience|Salary|
+----------+---+----------+------+
|     Krish| 31|        10| 30000|
|Sudharshan| 30|         9| 28000|
|     Sunny| 27|         8| 27000|
|      Paul| 29|         9| 25000|
|    Harsha| 28|         6| 20000|
|   Shubham| 25|         4| 17000|
+----------+---+----------+------+

In [87]:
df_pyspark.show()

+----------+----+----------+------+
|      Name| Age|Experience|Salary|
+----------+----+----------+------+
|     Krish|  31|        10| 30000|
|Sudharshan|  30|         9| 28000|
|     Sunny|  27|         8| 27000|
|      Paul|  29|         9| 25000|
|    Harsha|  28|         6| 20000|
|   Shubham|  25|         4| 17000|
|    Mahesh|NULL|      NULL| 15000|
|      NULL|  34|        11| 40000|
|      NULL|  32|      NULL|  NULL|
+----------+----+----------+------+

In [89]:
#how=any,
#threshold=2 any two non null value then then don't delete
#subset=['Experience] delete if null value to the particular column
df_pyspark.na.drop(how="any",thresh=2,subset=['Experience']).show()

+----------+----+----------+------+
|      Name| Age|Experience|Salary|
+----------+----+----------+------+
|     Krish|  31|        10| 30000|
|Sudharshan|  30|         9| 28000|
|     Sunny|  27|         8| 27000|
|      Paul|  29|         9| 25000|
|    Harsha|  28|         6| 20000|
|   Shubham|  25|         4| 17000|
|    Mahesh|NULL|      NULL| 15000|
|      NULL|  34|        11| 40000|
+----------+----+----------+------+

In [93]:
df_pyspark.na.fill('Missing values',['Name','Age','Experience']).show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|         Krish|  31|        10| 30000|
|    Sudharshan|  30|         9| 28000|
|         Sunny|  27|         8| 27000|
|          Paul|  29|         9| 25000|
|        Harsha|  28|         6| 20000|
|       Shubham|  25|         4| 17000|
|        Mahesh|NULL|      NULL| 15000|
|Missing values|  34|        11| 40000|
|Missing values|  32|      NULL|  NULL|
+--------------+----+----------+------+

In [94]:
from pyspark.ml.feature import Imputer
imputer = Imputer(inputCols=['Age','Experience','Salary'],
                  outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
                  ).setStrategy("mean")

In [95]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+----------+----+----------+------+-----------+------------------+--------------+
|      Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+----------+----+----------+------+-----------+------------------+--------------+
|     Krish|  31|        10| 30000|         31|                10|         30000|
|Sudharshan|  30|         9| 28000|         30|                 9|         28000|
|     Sunny|  27|         8| 27000|         27|                 8|         27000|
|      Paul|  29|         9| 25000|         29|                 9|         25000|
|    Harsha|  28|         6| 20000|         28|                 6|         20000|
|   Shubham|  25|         4| 17000|         25|                 4|         17000|
|    Mahesh|NULL|      NULL| 15000|         29|                 8|         15000|
|      NULL|  34|        11| 40000|         34|                11|         40000|
|      NULL|  32|      NULL|  NULL|         32|                 8|         25250|
+----------+----+----------+------+-----------+------------------+--------------+

#Filter Operation

In [97]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataframe').getOrCreate()
df_pyspark = spark.read.csv('test2.csv',header=True,inferSchema=True)

In [98]:
df_pyspark.show()

+----------+----+----------+------+
|      Name| Age|Experience|Salary|
+----------+----+----------+------+
|     Krish|  31|        10| 30000|
|Sudharshan|  30|         9| 28000|
|     Sunny|  27|         8| 27000|
|      Paul|  29|         9| 25000|
|    Harsha|  28|         6| 20000|
|   Shubham|  25|         4| 17000|
|    Mahesh|NULL|      NULL| 15000|
|      NULL|  34|        11| 40000|
|      NULL|  32|      NULL|  NULL|
+----------+----+----------+------+

In [99]:
##salary less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
| Harsha|  28|         6| 20000|
|Shubham|  25|         4| 17000|
| Mahesh|NULL|      NULL| 15000|
+-------+----+----------+------+

In [105]:
df_pyspark.filter('Salary<=20000').select(['Name','Age']).show()

+-------+----+
|   Name| Age|
+-------+----+
| Harsha|  28|
|Shubham|  25|
| Mahesh|NULL|
+-------+----+

In [106]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
| Harsha|  28|         6| 20000|
|Shubham|  25|         4| 17000|
| Mahesh|NULL|      NULL| 15000|
+-------+----+----------+------+

In [109]:
#if not
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+----------+---+----------+------+
|      Name|Age|Experience|Salary|
+----------+---+----------+------+
|     Krish| 31|        10| 30000|
|Sudharshan| 30|         9| 28000|
|     Sunny| 27|         8| 27000|
|      Paul| 29|         9| 25000|
|      NULL| 34|        11| 40000|
+----------+---+----------+------+

In [108]:
df_pyspark.filter((df_pyspark['Salary']<=20000) & (df_pyspark['Salary']>=17000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Harsha| 28|         6| 20000|
|Shubham| 25|         4| 17000|
+-------+---+----------+------+

Groupby Aggregate function

In [112]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [120]:
data = [
    ('John', 'HR', 60000),
    ('Alice', 'IT', 70000),
    ('Bob', 'Finance', 80000),
    ('Emily', 'Marketing', 75000),
    ('Michael', 'Sales', 90000),
    ('Bob','Finance',20000)
]
schema = ['Name','Department','Salary']
df_py = spark.createDataFrame(data,schema)
df_py.show()

+-------+----------+------+
|   Name|Department|Salary|
+-------+----------+------+
|   John|        HR| 60000|
|  Alice|        IT| 70000|
|    Bob|   Finance| 80000|
|  Emily| Marketing| 75000|
|Michael|     Sales| 90000|
|    Bob|   Finance| 20000|
+-------+----------+------+

In [128]:
df_py.groupBy('Name').max().show()

+-------+-----------+
|   Name|max(Salary)|
+-------+-----------+
|    Bob|      80000|
|   John|      60000|
|  Alice|      70000|
|Michael|      90000|
|  Emily|      75000|
+-------+-----------+

In [126]:
#groupby department
df_py.groupBy('Department').sum().show() #or sum() avg() min() max()
df_py.groupBy('Department').mean().show()
df_py.groupBy('Department').count().show()

+----------+-----------+
|Department|max(Salary)|
+----------+-----------+
|        HR|      60000|
|   Finance|      80000|
|        IT|      70000|
|     Sales|      90000|
| Marketing|      75000|
+----------+-----------+

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|        HR|    60000.0|
|   Finance|    50000.0|
|        IT|    70000.0|
|     Sales|    90000.0|
| Marketing|    75000.0|
+----------+-----------+

+----------+-----+
|Department|count|
+----------+-----+
|        HR|    1|
|   Finance|    2|
|        IT|    1|
|     Sales|    1|
| Marketing|    1|
+----------+-----+

In [127]:
df_py.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     395000|
+-----------+

pySpark ML

In [129]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('MLPractice').getOrCreate()
data=[
    ('Krish',31,10,30000),
    ('Sudharshan',30,8,25000),
    ('Sunny',29,4,20000),
    ('Paul',24,3,20000),
    ('Harsha',21,1,15000),
    ('Shubham',23,2,18000),
    ('Manju',29,8,70000)
]
schema = ['Name','Age','Experience','Salary']
df_mldata = spark.createDataFrame(data,schema)

In [130]:
df_mldata.show()

+----------+---+----------+------+
|      Name|Age|Experience|Salary|
+----------+---+----------+------+
|     Krish| 31|        10| 30000|
|Sudharshan| 30|         8| 25000|
|     Sunny| 29|         4| 20000|
|      Paul| 24|         3| 20000|
|    Harsha| 21|         1| 15000|
|   Shubham| 23|         2| 18000|
|     Manju| 29|         8| 70000|
+----------+---+----------+------+

In [135]:
from pyspark.ml.feature import VectorAssembler
featureass = VectorAssembler(inputCols=['Age','Experience'],outputCol="Independent Feature")
output = featureass.transform(df_mldata)

In [136]:
output.show()

+----------+---+----------+------+-------------------+
|      Name|Age|Experience|Salary|Independent Feature|
+----------+---+----------+------+-------------------+
|     Krish| 31|        10| 30000|        [31.0,10.0]|
|Sudharshan| 30|         8| 25000|         [30.0,8.0]|
|     Sunny| 29|         4| 20000|         [29.0,4.0]|
|      Paul| 24|         3| 20000|         [24.0,3.0]|
|    Harsha| 21|         1| 15000|         [21.0,1.0]|
|   Shubham| 23|         2| 18000|         [23.0,2.0]|
|     Manju| 29|         8| 70000|         [29.0,8.0]|
+----------+---+----------+------+-------------------+

In [137]:
output.columns

['Name', 'Age', 'Experience', 'Salary', 'Independent Feature']

In [140]:
final_data = output.select("Independent Feature","Salary")
final_data.show()

+-------------------+------+
|Independent Feature|Salary|
+-------------------+------+
|        [31.0,10.0]| 30000|
|         [30.0,8.0]| 25000|
|         [29.0,4.0]| 20000|
|         [24.0,3.0]| 20000|
|         [21.0,1.0]| 15000|
|         [23.0,2.0]| 18000|
|         [29.0,8.0]| 70000|
+-------------------+------+

In [142]:
from pyspark.ml.regression import LinearRegression
#train test split
train_data, test_data = final_data.randomSplit([0.75,0.25])
regressor = LinearRegression(featuresCol='Independent Feature',labelCol='Salary')
regressor = regressor.fit(train_data)

In [143]:
#coefficients
regressor.coefficients

DenseVector([2251.3966, 1379.8883])

In [144]:
regressor.intercept

-33659.217877095165

In [146]:
#prediction
pred_results = regressor.evaluate(test_data)

In [147]:
pred_results.predictions.show()

+-------------------+------+-----------------+
|Independent Feature|Salary|       prediction|
+-------------------+------+-----------------+
|         [29.0,4.0]| 20000|37150.83798882685|
|         [30.0,8.0]| 25000|44921.78770949723|
+-------------------+------+-----------------+

In [148]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(18536.312849162037, 345514434.63063043)